.style-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    :global {
        .ant-radio-wrapper {
            margin-right: 0;
        }
    }

    .item-val {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #f0f2f5;
    }

    .item-val-img {
        width: 85%;
        height: 85%;
        object-fit: contain;
    }
}